@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Poppins&display=swap');

:root {
    --main-bg-col: #00005C;
    --text-col: lavender;
    --lin_gradi: linear-gradient(90deg, rgb(116, 112, 185) 0%, rgb(36, 36, 166) 35%, rgba(0, 212, 255, 1) 100%);
    --font-1: 'Baloo Bhai 2', sans-serif;
    --font-2: 'Poppins', sans-serif;
    --font-3: 'Courier New', Courier, monospace;
    --text-purple: rgb(128, 40, 201);
    --footer-texcol: rgb(175 175 217);
    --text-gray: gray;
    --box-shad: 0px 1px 88px 4px rgb(178 128 221 / 59%);
    --fot-bg-col: #0F0F5C;

}

.font-1 {
    font-family: var(--font-1);
}

.font-2 {
    font-family: var(--font-2);
}

.font-2 {
    font-family: var(--font-3);
}

.text-purple {
    color: var(--text-purple);
}